<div id="signup-form">
  <form action="/signup" method="POST">
    <h5>Name: <input type="text" name="user[name]"></h5>
    <h5>Email: <input type="text" name="user[email]"></h5>
    <h5>Password: <input type="password" name="user[password]"></h5>
    <h5>Password: <input type="password" name="user[password_confirmation]"></h5>
    <h5>Link to Img: <input type="text" name="user[img_url]"></h5>
    <input type="submit" value='Create Account'>
  </form>
</div>
