<div id="signup-form">
  <form action="/signup" method="POST">
    Name: <input type="text" name="user[name]">
    Email: <input type="text" name="user[email]">
    Password: <input type="password" name="user[password]">
    Password: <input type="password" name="user[password_confirmation]">
    Link to Img: <input type="text" name="user[img_url]">
    <input type="submit" value='Create Account'>
  </form>
</div>
