/* CSS declarations go here */
body {font-family: 'Open Sans', sans-serif; font-size: 94%; line-height: 100%; background: rgb(0, 172, 234);}
h1, h2, h3, h4, h5, h6 {/* font-family: Georgia; */ line-height:100%; margin-top: 0.5em; margin-bottom: 0.5em; color: whitesmoke; font-weight: 400;}
h1 {font-size: 1.8em;}
h2 {font-size: 2.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.3em;}
.content h5 {font-size: 1.2em;color: black;}
h6 {font-size: 1.1em;}
p, pre, blockquote, table, ul, ol, dl {margin-top: .5em; margin-bottom: .5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 1.3em;width: 200px;height: 200px;background: rgb(255, 239, 93);border-radius: 10px;padding: 4px;}
ul {list-style-type: none;display: inline-flex;margin-left: .5em; padding-left: 0.5em;/* background: lemonchiffon; *//* border-radius: 5px; */width: 80%;margin: auto;}
dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #ccc; margin-left: 0em; padding-left: 0.5em;}
blockquote {padding: 0.3em; background-color: #E8F2F5; margin-left:0.5em; margin-right:0;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #E8F2F5; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}

footer { font-size: 0.7em; margin-top: 2em;}

#content { margin: 0; padding: 0; top: 0; width: 100%;}

a {
    color: darkslategrey;
    text-decoration: none;
}

a:visited {
    color: #AAA;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

div#login-toolbar {
    background: gray;
    font-size: 15px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    background: gray;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: right;
}


div#main-blog-container {
    width: 80%;
    margin-top: 100px;
    margin: auto;
    margin-top: 100px;
}

div#logo-landing {
    margin: 0 auto;
    position: relative;
    width: 40%;
    top: 50px;
    text-align: center;
}
div#logo-head img {
    width: 100px;
    display: inline;
}


div#logo-head {
    /* display: inline; */
    margin-left: 2%;
    margin-top: 2%;
    /* height: 94px; */
}

.full_blog, .event, #user-profile{
    width: 80%;
    margin: auto;
    background: darkgray;
    padding: 15px 0 15px 0;
    border-radius: 10px;
}

.content {
    /* width: 100%; */
    background: whitesmoke;
    /* margin: auto; */
    padding: 15px;
    border-radius: 15px;
}
div#user-profile {
    padding-left: 20px;
    width: 70%;
}

div#user-profile ul {
    width: 100%;
    margin: auto;
}
div#login-toolbar a {
    color: white;
}
#main-blog-container li a {
    font-size: 1.5em;
    color: white;
    line-height: 125%;
}