<div id='new-event-form'>
    <h4>New Event</h4>
    <div class='content'>
  <form action='/events/new' method="POST">
    <p>Title: <input type='text' name='event[title]'>
    <p>Date: <input type='date' name='event[date]'>
    <p>Description: <input type='text' name='event[description]'>
    <p>Headline: <input type='text' name='event[headline]'>
    <p>Location: <input type='text' name='event[location]'>
    <p>Tickets Available: <input type='number' name='event[total_tickets]'>
    <p>Ticket Price: $<input type='number' name='event[price]'>
    <p>Image: <input type='text' name='event[img_url]'>
    <p>Tags: <input type='text' name='tags' placeholder='Seperate tags with commas'>
    <input type='submit' value='Create Event'>
  </form>
</div>
</div>

