<div id='new-blog-form'>
  <form action='/blog/new' method='POST'>
    Title: <input type='text' name='blog[title]'>
    Headline: <input type='text' name='blog[headline]'>
    Content: <textarea name='blog[content]'></textarea>
    Tags: <input type='text' name='tags' placeholder='Seperate tags with commas'>
    <input type='submit' value='Create Blog'>
  </form>
</div>
